# Gradle
.gradle/
build/

# Local configuration
local.properties

# IntelliJ / Android Studio
*.iml
.idea/
!.idea/codeStyles
!.idea/runConfigurations

# Mac
.DS_Store

# Android
captures/
.externalNativeBuild/
.cxx/

# Misc
*.log
